
.poem-main{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.poem-section{
    
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: center;

}

.heading-section{
    margin: 20px;
    padding: 20px;

}

.heading-section h2{
    font-size: 30px;
}

.poem{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    
}

.poem-photo{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    
}

.poem-photo img{
    width: 100%;
    height: auto;
    border-radius: 100px;
}