


.poem-container{
    display: grid;
    grid-template-rows: auto auto auto;
}

.poem-header{
    text-align: center;
    padding: 20px;
    
}

.poem-header h2{
    font-size: 2rem;
}

.poem-header p{
    font-size: 0.4rem;
}

.poem-content{
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.poem{
    padding: 20px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: contain;
}

.image img{
    width: 50%;
    height: auto;
    object-fit: contain;
    margin: 20px;
}
